{% extends "ApiticAnimalsBundle::layout.html.twig" %}

{% block title %}
  Ajouter un animal - {{ parent() }}
{% endblock %}

{% block apiticanimals_body %}

  <h2>Ajouter un animal</h2>

  {{ include("ApiticAnimalsBundle:Animals:form.html.twig") }}

{% endblock %}